body
{
    margin: 0;
    font-family:"proxima-nova-soft", sans-serif;
}
@media screen and (max-width: 900px)
{
.nav-bar
    {
        background-color: #333;
        border: 1px solid black;
        display: fixed;
    }
    .main-logo
    {
        margin-left: 3vw;
        margin-top: 0.5vw;
        height: 5vw;
        width: 5vw;
    }
    .main-logo-2
    {
        margin-left: 3vw;
        /* margin-top: 0.5vw; */
        height: 10vw;
        width: 10vw;
    }
    .dst{
        text-align: left;
        font-size:16px;
        color:rgb(175, 2, 2);
    }
    .dst-map{
        width: 100%;
        z-index:-1;
        border: 1px solid rgba(136, 136, 136, 0.322);
        padding-left: 0vw;
        padding-right: 0vw;
    }
    .longimg{
		object-fit: cover;
        object-position: top;
        height: 13vw;
        width:10vw;
	}
	.txtname{
		margin:0;
		font-size: 14px;
		text-align: center;
		text-decoration:none;
	}
	.txtname a{
		text-decoration:none;
		color:rgb(175, 2, 2);
		font-size: 13px;
		font-weight: 750;
		text-transform:uppercase;
	}
	.txtname a:hover{
		color:#1D2951;
	}
	.cm-name{
        padding-top: 5px;
		padding-bottom: 1px;
		display:flex;
		text-align:center;
		justify-content:space-around;
	}
	.cm-name img{
		padding-bottom: 5px;
    }
    .navbar-text
    {
        display: inline-block;
        font-size: 15px;
        margin: 0;
        text-align: center;
        font-weight: 500;
        color: white;
        margin-left: 2vw;
        position: absolute;
        top: 2vw;
    } 
    .hamburger-menu
    {
        display: inline-block;
        float: right;
        background-color: rgba(240, 248, 255, 0.123);
        box-shadow: 1px 1px 10px  black;
        border-radius: 3px;
        margin-top: 0.5vw;
        margin-right: 2vw;
        padding: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        color: aliceblue;
    }
    /* DISTRICT INFORMATION AREA */
    .district-info
    {
        background-color: rgba(207, 207, 207, 0.932);
        padding-top: 2vw;
        padding-bottom: 2vw;
        /* border: 1px solid black; */
    }
    .district-info-heading
    {
        text-align: center;
        font-size: 3vw;
        margin-top: 0;
        font-weight: bolder;
        color: white;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid orange;
    }
    .district-info-individual-feild
    {
        display: inline-block;
        text-align: center;
        color: white;
        width: 100%;
        font-size: 2vw;
    }
    .district-icons
    {
        width: 4vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .area
    {
        background-color: rgb(51, 165, 22);
    }
    .population
    {
        background-color: #1E90FF;
    }
    .capital
    {
        background-color: orange;
    }
    .district
    {
        text-align: center;
        margin-top: 10vw;
    }
    .longimg{
		object-fit: cover;
		object-position: top;
	}
	.txtname{
		margin:0;
		font-size: 1.5vw;
		text-align: center;
	}
	.txtname a{
		text-decoration:none;
		color:rgb(175, 2, 2);
		font-size: 1.5px;
		font-weight: 700;
		text-transform:uppercase;
	}
	.cm-name{
		padding-top: 5px;
		padding-bottom: 1px;
		display:flex;
		text-align:center;
		justify-content:space-around;
	}
	.cm-name img{
		padding-bottom: 5px;
	}
    .navbar-list
    {
        /* display: inline-block; */
        /* position: relative; */
        display: none;
        height: 0vw;
        overflow: hidden;
        margin-left: 17vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 7vw;
        right: 3vw;
        animation-timing-function: linear;
        animation-name: navbarShowIn;
        animation-duration: 1s;
        animation-fill-mode: forwards;
     } 
     @keyframes navbarShowIn
     {
         from{height: 0vw}
         to{height: 27vw}
     }
    .navbar-list-2
    {
        /* display: inline-block; */
        /* position: relative; */
        display: none;
        height: 0vw;
        margin-left: 17vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 7vw;
        right: 3vw;
        border-bottom: 1px solid rgb(3, 124, 223);
        animation-timing-function: linear;
        animation-name: navbarShowIn;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    .navbar-list-items
    {
        /* display: none; */
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        list-style: none;
        font-size: 1vw;
        font-weight: bolder;
        margin-top: 0.5vw;
        margin-left: 0.1vw;
        margin-right: 0.1vw;
        padding: 1vw;
        background-color: rgb(3, 124, 223);
        border-radius: 1px;
    }
    .navbar-link
    {
        color: rgb(255, 245, 245);
        text-decoration: none;
        font-size: 1vw;
    }
    .navbar-link:hover
    {
        /*background-color: #ddd;*/
        color: black;
    }
    .select-language-button
    {
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1vw;
        background-color: rgb(3, 124, 223);
        font-family: Verdana;
    }
    .select-language-button:hover
    {
        
        background-color: rgb(80, 106, 221);
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: 1px;
        font-family: Verdana;
    }
    .search-bar
    {
        width: 20%;
        padding: 5px;
        position: absolute;
        right: 1vw;
        top: 7vw;
        border: 2px solid rgba(136, 136, 136, 0.473);
        border-radius: 2px;
    }
    .side-navigation-section
    {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 10vw;
        border: 0px solid rgba(136, 136, 136, 0.322);
        border-radius: 2px;
    }
    .side-navigation-list
    {
        padding: 0;
    }
    .side-navigation-list-items
    {
        list-style: none;
        text-align: left;
        margin-top: 0.2vw;
        border: 1px solid rgba(136, 136, 136, 0.322);
        padding: 5px;
    }
    .side-navigation-list-items a
    {
        font-size: 10px;
       font-weight: bolder;
    }
    .midsection
    {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3vw;
        padding-right: 5vw;
        padding-left: 0vw;
        /* border-left: 1px solid black; */
        /* border-right: 1px solid black; */
    }
    .midsection-main-heading
    {
        width:80%;
        text-align: left;
        font-size: 20px;
        color:black;
        padding: 2vw;
        padding-left: 2vw;
        border-bottom: 1px solid rgba(207, 207, 207, 0.863);
    }
    .card
    {
        display: inline-block;
        width: 37%;
        border-bottom: 1px solid rgba(207, 207, 207, 0.863);
        border-right: 1px solid rgba(207, 207, 207, 0.863);
        margin: 1vw;
        padding: 1vw;
        padding-top: 0vw;
    }
    .card-title
    {
        color: rgb(175, 2, 2);
        font-size: 18px;
        font-weight: bolder;
    }
    .card-description
    {
        margin-bottom: 0;
		font-weight: bolder;
    }
    .card-readmore-link
    {
        display: block;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        color: rgb(0, 140, 255);
    }
    .card-image
    {
        width: 95%;
        height: 14vw;
        border: 1px solid rgba(0, 0, 0, 0.219);
    }
    .view-reports-button
    {
        display: block;
        width: 60%;
        text-align: center;
        text-decoration: none;
        background-color:#333 ;
        font-weight: bolder;
        color: white;
        padding: 1vw;
        margin-top: 1vw;
        float: right;
        border-radius: 30px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #888;
        width: 50%;
        text-align: justify;
      }
      
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
}
@media screen and (min-width: 900px)
{
.nav-bar
    {
        background-color: #333;
        border: 1px solid black;
        display: fixed;
    }
    .main-logo
    {
        margin-left: 3vw;
        /* margin-top: 0.5vw; */
        height: 5vw;
        width: 5vw;
    }
    .main-logo-2
    {
        margin-left: 3vw;
        /* margin-top: 0.5vw; */
        height: 10vw;
        width: 10vw;
    }
    .dst{
        text-align: left;
        font-size:16px;
        color:rgb(175, 2, 2);
    }
    .dst-map{
        z-index:-1;
        border: 1px solid rgba(136, 136, 136, 0.322);
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .longimg{
		object-fit: cover;
		object-position: top;
	}
	.txtname{
		margin:0;
		font-size: 14px;
		text-align: center;
		text-decoration:none;
	}
	.txtname a{
		text-decoration:none;
		color:rgb(175, 2, 2);
		font-size: 13px;
		font-weight: 750;
		text-transform:uppercase;
	}
	.txtname a:hover{
		color:#1D2951;
	}
	.cm-name{
        padding-top: 5px;
		padding-bottom: 1px;
		display:flex;
		text-align:center;
		justify-content:space-around;
	}
	.cm-name img{
		padding-bottom: 5px;
    }
    /* DISTRICT INFORMATION AREA */
    .district-info
    {
        background-color: rgba(207, 207, 207, 0.932);
        padding-top: 2vw;
        padding-bottom: 2vw;
        /* border: 1px solid black; */
    }
    .district-info-heading
    {
        text-align: center;
        font-size: 2.5vw;
        margin-top: 0;
        font-weight: bold;
        color: black;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5vw;
        border-bottom: 1px solid orange;
    }
    .district-info-individual-feild
    {
        display: inline-block;
        text-align: center;
        color: black;
        width: 19.5%;
        font-weight: bold;
    }
    .district-icons
    {
        width: 4vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .area
    {
        background-color: rgb(51, 165, 22);
    }
    .population
    {
        background-color: #1E90FF;
    }
    .capital
    {
        background-color: orange;
    }
    .navbar-text
    {
        display: inline-block;
        font-size: 20px;
        margin: 0;
        text-align: center;
        font-weight: 500;
        color: white;
        margin-left: 2vw;
        position: absolute;
        top: 2vw;
    }
    .navbar-text-part1
    {
        display: inline-block;
        margin: 0;
        font-size: larger;
        font-weight: bolder;
        position: absolute;
        top: 0.8vw;
        left: 9vw;
    }
    .navbar-hr
    {
        display: inline-block;
        width: 10%;
        position: absolute;
        top: 1.9vw;
        left: 13vw;
    }
    .navbar-text-part2
    {
        display: inline-block;
        margin: 0;
        font-size: larger;
        font-weight: bolder;
        position: absolute;
        top: 2.8vw;
        left: 10.5vw;
    } 
    .hamburger-menu
    {
        display: none;
        
    }
    .navbar-list
    {
        display: inline-block;
        position: absolute;
        top: 0.5vw;
        right: 2vw;
        padding: 0;
        margin-top: 0;
     } 
    .navbar-list-items
    {
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        list-style: none;
        font-size: 1.1vw;
        font-weight: bolder;
        margin-top: 0.5vw;
        margin-left: 0.1vw;
        margin-right: 0.1vw;
        padding: 1vw;
        background-color: rgb(3, 124, 223);
        border-radius: 4px;

    }
    .navbar-list-items1
    {
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        list-style: none;
        font-size: 1.1vw;
        font-weight: bolder;
        margin-top: 0.5vw;
        margin-left: 0.1vw;
        margin-right: 0.1vw;
        padding: 6px;
        background-color: rgb(3, 124, 223);
        border-radius: 4px;

    }
    .navbar-link
    {
        color: rgb(255, 245, 245);
        text-decoration: none;
    }
    .navbar-link:hover
    {
        /*background-color: #ddd;*/
        color: black;
    }
    .select-language-button
    {
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1vw;
        font-weight: bold;
        background-color: rgb(3, 124, 223);
        border: none;
        margin-top: 0.4vw;
    }
    .search-bar
    {
        width: 18%;
        padding: 5px;
        position: absolute;
        right: 1vw;
        top: 7vw;
        border: 2px solid rgba(136, 136, 136, 0.473);
        border-radius: 2px;
    }
    .side-navigation-section
    {
        width: 18%;
        position: absolute;
        right: 1vw;
        top: 10vw;
        border: 0px solid rgba(136, 136, 136, 0.322);
        border-radius: 2px;
    }
    .side-navigation-list
    {
        padding:0;
    }
    .side-navigation-list-items
    {
        list-style: none;
        text-align: left;
        margin-top: 0.2vw;
        border: 1px solid rgba(136, 136, 136, 0.322);
        padding: 5px;
    }
    .side-navigation-list-items a
    {
       font-size: 13px;
       font-weight: bolder;
    }
    .midsection
    {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3vw;
        padding-right: 15vw;
        padding-left: 1vw;
    }
    .midsection-main-heading
    {
        width:86%;
        text-align: left;
        color:black;
        padding: 2vw;
        padding-left: 3vw;
        border-bottom: 1px solid rgba(207, 207, 207, 0.863);
    }
    .card
    {
        display: inline-block;
        width: 39%;
        border-bottom: 1px solid rgba(207, 207, 207, 0.863);
        border-right: 1px solid rgba(207, 207, 207, 0.863);
        margin: 1vw;
        padding: 2vw;
        padding-top: 0.5vw;
    }
    .card-title
    {
        color: rgb(175, 2, 2);
        font-size: 25px;
        font-weight: bolder;
    }
    .card-description
    {
        margin-bottom: 0;
        font-weight: bolder;
    }
    .card-readmore-link
    {
        display: block;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        color: rgb(0, 140, 255);
    }
    .card-image
    {
        width: 80%;
        height: 14vw;
        border: 1px solid rgba(0, 0, 0, 0.219);
    }
    .view-reports-button
    {
        display: block;
        width: 30%;
        text-align: center;
        text-decoration: none;
        background-color:#333 ;
        font-weight: bolder;
        color: white;
        padding: 1vw;
        margin-top: 1vw;
        float: right;
        border-radius: 30px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #888;
        width: 50%;
        text-align: justify;
      }
      
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
}